.block-logements {
    background-color: #f6f6f6;
    border-radius: 25px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 10px;
}

.block-logements a{
    margin: 10px;
    width: 270px;
    height: 270px;
}

.accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .block-logements {
        background-color: unset;
        flex-direction: column;
        align-items: center;
        padding: 0
    }
    .banniere-accueil img {
        height: 120px;
    }
    .block-logements a{
        width: 95%;
        height: 200px;
    }
    
}