.dropdown-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 75%;
    margin: 20px auto auto auto  ;
}

@media screen and (max-width: 720px) {
    .dropdown-block {
        width: 90%;
    }
}