.banniere {
    width: 90%;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 25px;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .banniere{
        height: 250px;
    }
}