.block-banniere{
    width: 90%;
    position: relative;
    margin: auto;
}

.banniere {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 25px;
    object-fit: cover;
}

.texte-accueil {
    color: #ffffff;
    /* position: absolute; */
}

@media screen and (max-width: 992px) {
    .banniere{
        height: 250px;
    }
}